#app {
	text-align: center;
}

.webName {
	margin: 20px 0;
	font-weight: bold;
	font-size: 2rem;
}

.loginForm {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.term {
	margin-bottom: 12px;
}

.welcomeText {
	font-size: 2rem;
	margin-bottom: 15px;
}

.subjectsTable {
	text-align: center;
	margin: 0 auto;
}

.subjectsTable th {
	text-align: center;
}

.subjectsTable .name {
	text-align: left;
}

.subjectsTable .subjectId-head,
.subjectsTable .lecture-head,
.subjectsTable .lab-head,
.subjectsTable .assessLink-head {
	width: 150px;
}

.subjects {
	margin-top: 24px;
}